{% extends 'core/base.html' %}

{% block title %} Sign up {% endblock %}

{% block content %}

<div class="w-1/2 p-6 my-6 mx-auto bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Sign up</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            {{ form.username}}
        </div>
        <div class="mb-3">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            {{ form.password}}
        </div>

        {% if form.errors or form.non_field_errors %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-3" role="alert">
            {% for field in form %}
            {{field.errors}}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}

            <button type="submit" class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700">sign in</button>
        
    </form>
</div>
{%endblock%}